main{
    display: flex;
    align-items: center; 
    flex-direction: column;
    gap: 5vh;
    margin-top: 5vh;  
    margin-bottom: 5vh;
}
*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #DDDDDD;
}

form{
    background-color: #F2F2F2;
    display: flex;
    padding: 1%;
    
    border-radius: 10px;
    border: 2px solid #bbbbbb;
    box-shadow: #949494 0 4px 4px 0;

    width: 70%;
    gap: 1%;
}
.container-inputs{
    display: flex;
    flex-direction: column;
}
.container-inputs input{
    background-color: #f2f2f2;
    border: 1px solid #bbbbbb;
    border-radius: 10px;
    padding: 2%;
    box-shadow: #949494 0 4px 4px 0;
    width: 90%;
    
}
.container-inputs label{
    width: 100%;
    font-weight: 600;
}
#block-one{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2%;
}
#block-two{
    width: 35%;
}
#block-three{
    display: flex;
    justify-content: center;
    width: 15%;
    margin: 0 auto;
}
.container-tamanho #inputs-endereco{
    display: flex;
}
.container-tamanho{
    display: flex;
    gap: 10%;
}
.container-tamanho label{
    font-weight: 600;
}
.container-endereco label{
    font-weight: 600;
}
.container-endereco input{
    width: 20%;
    background-color: #f2f2f2;
    border: 1px solid #bbbbbb;
    border-radius: 10px;
    padding: 2%;
    box-shadow: #949494 0 4px 4px 0;
}
form button{
    background-color: #FF1C1C;
    color: white;
    font-weight: 600;
    transition: 0.3s ease-in-out;
    padding: 8%;
    border-radius: 50px;
    border: 1px solid #bbbbbb;
    box-shadow: #949494 0 4px 4px 0;
    width: 80%;
    margin-top: auto;
    transition: 0.2 ease-in-out;
}
form button:hover{
    scale: 1.1;
    transition: 0.3s ease-in-out;
    background-color: #ffffff;
    color: #FF1C1C;
    cursor: pointer;
}

#lista-pedidos{
    background-color: #DDDDDD;
    padding: 1%;
    border-radius: 10px;
    border: 2px solid #bbbbbb;
    box-shadow: #949494 0 4px 4px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}
.pedido{
    display: flex;
    background-color: #F2F2F2;
    padding: 1%;
    border-radius: 10px;
    border: 2px solid #bbbbbb;
    box-shadow: #949494 0 4px 4px 0;
    gap: 4%;
    justify-content: space-between;
}
#container-pedidos{
    width: 80%;
}
.block-one-pedidos{
    width: 25%;
}
.block-two-pedidos{
    width: 25%;

}
.block-three-pedidos{
    width: 16%;

}
.block-four-pedidos{
    width: 16%;
    display: flex;

    justify-content: center;
}
.block-five-pedidos{
    width: 16%;

}
.pedido button{
    background-color: #FF1C1C;
    color: white;
    font-weight: 600;
    transition: 0.3s ease-in-out;
    border-radius: 50px;
    border: 1px solid #bbbbbb;
    box-shadow: #949494 0 4px 4px 0;
    width: 8em;
    padding: 8%;
    margin-top: auto;
    transition: 0.2 ease-in-out;
}
.pedido button:hover{
    scale: 1.1;
    transition: 0.3s ease-in-out;
    background-color: #ffffff;
    color: #FF1C1C;
    cursor: pointer;
}

#container-pesquisa input{
    border: none;
    background-color: #F2F2F2;
    width: 100%;
    height: 100%;
}
#container-pesquisa input:focus{
    outline: none;
}
#container-pesquisa:has(input:focus) {
    border: 2px solid #bbbbbb;
}
#container-pesquisa{
    width: 30%;
    background-color: #f2f2f2;
    border: 1px solid #bbbbbb;
    border-radius: 10px;
    box-shadow: #949494 0 4px 4px 0;
    display: flex;
    justify-content: end;
    padding: 1%;
    margin-bottom: 2%;
}
#container-pesquisa label:hover{
    cursor: pointer;
}
#container-pedidos{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;

}
#lines-block-one{
    font-weight: 600;
}