<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arquivo base</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/base.css')}}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=account_circle" />
    {%block styles%}
    {%endblock%}
</head>

<body>
    
    <header>
        {%block headerContent%}
        <nav><ul>
                <li id="primeiro">
                    <div>
                        <a href="">Criação</a>
                        <a href="">Home</a>
                    </div>
                </li>
                <li>
                    <a href="""><span class="material-symbols-outlined">
                        account_circle
                    </span></a>
                </li>
        </ul></nav>
        
        {%endblock%}
    </header>
    
    {%block content%}

    {%endblock%}

    <footer>
        {% block footerContent %}
        <div>
            <p>©2026 CleysysFood’s. All rights reserved</p>
        </div>
        {% endblock %}
    </footer>
    
</body>

</html>