{%extends 'base.html'%}
{%block styles%}
<link rel="stylesheet" href="{{url_for('static', filename='css/criacao.css')}}">
{%endblock%}

{%block content%}
<main>
    <h1>Criação de Pedidos</h1>

    <form action="" method="post">
        <div class="blocks-forms" id="block-one">
            <div class="lines-block-one">

                <div class="container-inputs">
                    <label for="nome-pedido">Nome do Pedido:</label>
                    <input type="text" id="nome-pedido" placeholder="Pedido" name="nome_pedido">
                </div>

                <div class="container-inputs">
                    <label for="nome-cliente">Nome do Cliente:</label>
                    <input type="text" id="nome-cliente" placeholder="Cliente" name="nome_cliente">
                </div>

            </div>

            <div class="lines-block-one">
                <label for="cidade" id="label-endereco">Endereço:</label>
                <div class="container-endereco">
                    <input type="text" id="cidade" name="cidade" placeholder="Cidade">
                    <input type="text" id="bairro" name="bairro" placeholder="Bairro">
                    <input type="text" id="rua" name="rua" placeholder="Rua">
                    <input type="text" id="numero" name="numero" placeholder="Número">
                </div>
            </div>

            <div class="lines-block-one container-tamanho">
                <div class="tamanhos">
                    <label for="tamanho-p">Tamanho</label>
                    <div>
                        <label for="tamanho-p">P</label>
                        <input type="checkbox" id="tamanho-p" name="tamanho" value="P">
                        <label for="tamanho-m">M</label>
                        <input type="checkbox" id="tamanho-m" name="tamanho" value="M">
                        <label for="tamanho-g">G</label>
                        <input type="checkbox" id="tamanho-g" name="tamanho" value="G">
                        <label for="tamanho-gg">GG</label>
                        <input type="checkbox" id="tamanho-gg" name="tamanho" value="GG">
                    </div>
                </div>

                <div class="container-inputs">
                    <label for="quantidade">Quantidade</label>
                    <input type="text" placeholder="Quantidade" id="quantidade" name="quantidade">
                </div>
                
            </div>
        </div>
        <div id="block-two" class="blocks-forms">
            <div class="lines-block-one">

                <div class="container-inputs">
                    <label for="telefone">Nº de Telefone:</label>
                    <input type="text" id="telefone" placeholder="Telefone" name="telefone">
                </div>

                <div class="container-inputs">
                    <label for="pagamento">Mét. Pagamento:</label>
                    <input type="text" id="pagamento" placeholder="Dinheiro, cartão, pix...." name="pagamento">
                </div>

                <div class="container-inputs">
                    <label for="valor">Valor:</label>
                    <input type="text" id="valor" placeholder="R$ " name="valor">
                </div>
            </div>
        </div>
        <div id="block-three" class="blocks-forms">
            <button type="submit">Criar Pedido</button>
        </div>
    </form>

    <div id="container-pedidos">
        <div id="container-pesquisa">
            <input id="pesquisa-pedido" placeholder="Pesquise seu pedido aqui" type="text">
            <label for="pesquisa-pedido">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
            </svg>
            </label>
        </div>

        <div id="lista-pedidos">
            <div class="pedido">
                <div class="block-one-pedido">
                    <div class="block-lines">
                        <h3>Burguer de Queijo com Fritas</h3>
                    </div>
                    <div class="block-lines">
                        <p><b>Cliente:</b> X</p>
                    </div>
                    <div class="block-lines">
                        <p><b>Cidade:</b> X</p>
                    </div>
                </div>
                <div class="block-two-pedido">
                    <div class="block-lines">
                        <p><b>Tamanho:</b> X</p>
                    </div>
                    <div class="block-lines">
                        <p><b>Mét Pagamento:</b> X</p>
                    </div>
                    <div class="block-lines">
                        <p><b>Endereço:</b> X</p>
                    </div>
                </div>

                <div class="block-three-pedido"></div>

                <div class="block-four-pedido">
                    <button onclick="editarPedido(this)">Editar</button>
                </div>
                <div class="block-five-pedido">
                    <h3>Valor:</h3>
                    <h1>R$ 24,00</h1>
                </div>
            </div>
        </div>
    </div>
</main>

{%endblock%}