{%extends 'base.html'%}
{%block styles%}
<link rel="stylesheet" href="{{url_for('static', filename='css/criacao.css')}}">
{%endblock%}

{%block content%}
<main>
    <h1>Criação de Pedidos</h1>

    <form action="{{ url_for('criar') }}" method="post">
        <div class="blocks-forms" id="block-one">
            <div class="lines-block-one">

                <div class="container-inputs">
                    <label for="nome-pedido">Nome do Pedido:</label>
                    <input type="text" id="nome-pedido" placeholder="Pedido" name="nome">
                </div>

                <div class="container-inputs">
                    <label for="nome-cliente">Nome do Cliente:</label>
                    <input type="text" id="nome-cliente" placeholder="Cliente" name="comida">
                </div>

            </div>

            <div class="lines-block-one">
                <label for="cidade" id="label-endereco">Endereço:</label>
                <div class="container-endereco">
                    <input type="text" id="cidade" name="cidade" placeholder="Cidade">
                    <input type="text" id="bairro" name="bairro" placeholder="Bairro">
                    <input type="text" id="rua" name="rua" placeholder="Rua">
                    <input type="text" id="num-casa" name="num_casa" placeholder="Número">
                </div>
            </div>

            <div class="lines-block-one container-tamanho">
                <div class="tamanhos">
                    <label for="tamanho-p">Tamanho</label>
                    <div>
                        <label for="tamanho-p">P</label>
                        <input type="radio" id="tamanho-p" name="tamanho" value="P">
                        <label for="tamanho-m">M</label>
                        <input type="radio" id="tamanho-m" name="tamanho" value="M">
                        <label for="tamanho-g">G</label>
                        <input type="radio" id="tamanho-g" name="tamanho" value="G">
                        <label for="tamanho-gg">GG</label>
                        <input type="radio" id="tamanho-gg" name="tamanho" value="GG">
                    </div>
                </div>

                <div class="container-inputs">
                    <label for="quantidade">Quantidade</label>
                    <input type="text" placeholder="Quantidade" id="quantidade" name="quantidade">
                </div>
                
            </div>
        </div>
        <div id="block-two" class="blocks-forms">
            <div class="lines-block-one">

                <div class="container-inputs">
                    <label for="telefone">Nº de Telefone:</label>
                    <input type="text" id="telefone" placeholder="Telefone" name="telefone">
                </div>

                <div class="container-inputs">
                    <label for="met_pagamento">Mét. Pagamento:</label>
                    <input type="text" id="met_pagamento" placeholder="Dinheiro, cartão, pix...." name="met_pagamento">
                </div>

                <div class="container-inputs">
                    <label for="valor">Valor:</label>
                    <input type="text" id="valor" placeholder="R$ " name="valor">
                </div>
            </div>
        </div>
        <div id="block-three" class="blocks-forms">
            <button type="submit">Criar Pedido</button>
        </div>
    </form>

    <div id="container-pedidos">
        <div id="container-pesquisa">
            <input id="pesquisa-pedido" placeholder="Pesquise seu pedido aqui" type="text">
            <label for="pesquisa-pedido">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398l3.85 3.85a1 1 0 0 0 1.415-1.414zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                </svg>
            </label>
        </div>

        <div id="lista-pedidos">
            {% for pedido in pedidos %}
            <div class="pedido">

                <div class="block-one-pedido">
                    <div class="block-lines">
                        <h3>{{ pedido.nome }}</h3>
                    </div>
                    <div class="block-lines">
                        <p><b>Cliente:</b> {{ pedido.comida }}</p>
                    </div>
                    <div class="block-lines">
                        <p><b>Cidade:</b> {{ pedido.endereco.cidade }},</p>
                    </div>
                </div>
                <div class="block-two-pedido">
                    <div class="block-lines">
                        <p><b>Tamanho:</b> {{pedido.tamanho}}</p>
                    </div>
                    <div class="block-lines">
                        <p><b>Mét Pagamento:</b> {{pedido.metodo_pagamento}}</p>
                    </div>
                    <div class="block-lines">
                        <p><b>Endereço:</b> {{pedido.endereco.bairro}}, {{pedido.endereco.rua}}, {{pedido.endereco.numero}}</p>
                    </div>
                </div>

                <div class="block-three-pedido"></div>

                <div class="block-four-pedido">
                    <button onclick="editarPedido(this)">Editar</button>
                </div>
                <div class="block-five-pedido">
                    <h3>Valor:</h3>
                    <h1>R$ {{ pedido.valor }}</h1>
                </div>
                <h3></h3>
                
                
            </div>
            {% endfor %}

        </div>
    </div>
</main>
{%endblock%}